@import '../lib/mixins';
@import '../lib/var';

.my-btn {

  padding: 25px;
  height: 80px;
  width: 335px;
  border: none;
  transition: all .2s ease;
  position: relative;


  &__content {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: $black;
    z-index: 3;
    position: relative;
    @include max-screen(sm) {
      font-size: 16px;
    }
  }

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, #FFC9B3 0%, #F67D75 100%);
    top: 0;
    left: 0;
    z-index: 2;
  }

  &__arrow {
    background-color: transparent;
    background-image: url("assets/img/btn-arrow.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 73px;
    height: 13px;
    position: absolute;
    right: -26px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease;
    z-index: 3;
    @include max-screen(sm) {
      width: 39px;
   //   right: -11px;
      right: 20px;
    }
    @include max-screen(xs) {
      width: 33px;
      right: 18px;
    }
  }

  &:before {
    content: "";
    border: 1px solid #F7867D;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-10px, 10px);
    z-index: 1;
    display: none;
    transition: all .2s ease;
  }

  @include max-screen(xl) {
    padding: 20px;
    height: 60px;
    width: 365px;
  }
  @include max-screen(lg) {
    height: 60px;
    width: 350px;
    padding: 15px
  }
  @include max-screen(xs) {
    width: 100%;
    font-size: 14px;
    height: 50px;
    padding: 10px;
  }

  &:hover {

    &:before {
      display: block;
    }

    &:after {
      background: linear-gradient(90deg, #F67D75 0%, #F55B51 100%);
    }

    .my-btn__arrow {
      transform: translate(24px, -50%);
      @include max-screen(sm) {
        transform: translate(10px, -50%);
      }
    }
  }


}

.my-btn-border {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid #F99B8D;
  height: 40px;
  width: 185px;
  padding: 10px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: $black;
  color: #FFFFFF;
  transition: all .2s ease;

  &:hover {
    background: #F99B8D;
  }

  &--white {
    background: #FFFFFF;
    width: 100%;
    height: 70px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 5px;
    &:hover {
      background: #ffffff;
    }
    span {
      background: linear-gradient(to right, rgba(255, 201, 178, 1) 0%, rgba(246, 125, 117, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.up-btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  text-decoration: none;

  img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: inline-block;
    transform: rotate(90deg);
    transition: all .2s ease;

    &.hover {
      display: none;
    }
  }

  span {

    font-size: 19px;
    line-height: 23px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: $black;
    background: linear-gradient(to right, rgba(255, 201, 178, 1) 0%, rgba(246, 125, 117, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-right: 10px;
    transition: all .2s ease;
  }

  &:hover {
    img {
      &.default {
        display: none;
      }

      &.hover {
        display: block;
      }
    }

    span {
      background: #FFC9B2;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
