@import '../lib/mixins';
@import '../lib/var';

.my-btn {
  background: linear-gradient(90deg, #FFC9B3 0%, #F67D75 100%);
  border-radius: 180px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: $black;
  padding: 25px;
  height: 80px;
  width: 400px;
  border: none;
  transition: all .2s ease;
  @include max-screen(xl) {
    padding: 20px;
    height: 60px;
    width: 365px;
  }
  @include max-screen(lg) {
    height: 60px;
    width: 350px;
    padding: 15px
  }

  &:hover {
    background: linear-gradient(90deg, #F67D75 0%, #FFC9B3 100%);

  }

  &--border {
    background: transparent;
    border: 1px solid #F99B8D;
    height: 50px;
    width: 210px;
    font-size: 14px;
    line-height: 17px;
    padding: 10px;
  }

  &--white {
    background: #FFFFFF;

    span {
      background: linear-gradient(to right, rgba(255, 201, 178, 1) 0%, rgba(246, 125, 117, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}